LAB ASSIGNMENT -1,
CSE220

ID: 21301289
Name: Ishtiaq Ahmed **bold text**

#***Lab-1, Part-1***

In [ ]:
#1.Shift Left k Cells

def shiftLeft(source,k):

  i = 0 
  while(i<k):
    source [i] = source[i+k] 
    i+=1
    


  j = len(source)-1    
  while (j>=k): 
    source[j]=0 
    j-=1
  print(source) 
   
  

source = [10,20,30,40,50,60] 
shiftLeft(source,3)

[40, 50, 60, 0, 0, 0]

In [ ]:
#2.Shift Left k Cells

def RotateLeft(source, k):
  for i in range(k):
    temp = source[0] 

    for j in range(1,len(source)):

      source[j-1]= source[j]  
    source[len(source)-1]=temp  
                            
  print(source)

source=[10,20,30,40,50,60] 
RotateLeft(source,3)

[40, 50, 60, 10, 20, 30]

In [ ]:
#3.Shift Right k cell

def shiftRight(source,k):
  i = len(source)-1 
  while (i>k): 
    source[i] = source [i-k]
    i-=1
  j = 0 
  while j < k: 
    source[j] = 0 
    j+=1
  print(source)

source = [10,20,30,40,50,60]
shiftRight(source,3)

[0, 0, 0, 40, 20, 30]

In [ ]:
#4.Rotate Right K cell

def RotateLeft(source, k):
  for i in range(k):
    temp = source[0] 

    for j in range(1,len(source)):

      source[j-1]= source[j]  
    source[len(source)-1]=temp  
                            
  print(source)

source=[10,20,30,40,50,60] 
RotateLeft(source,3)

[40, 50, 60, 10, 20, 30]

In [ ]:
#5. Remove an element from array

def remove(source,idx):
    for i in range(idx,len(source)-1):
        source[i]=source[i+1]
    print(source)
source=[10,20,30,40,50,0,0]
remove(source,2)

[10, 20, 40, 50, 0, 0, 0]

In [33]:
#6. Remove all occurrences of a particular element from an array


def remove_all(source,element):

  nw_array= [0]*len(source)
  x= 0

  for idx in range(0,len(source)):

    if (source[idx] != element):
      nw_array[x]=source[idx]
      x+=1

  return nw_array
  
source=[10,2,30,2,50,2,2,0,0] 
print(remove_all(source,2))

[10, 30, 50, 0, 0, 0, 0, 0, 0]

In [13]:
#7. Splitting an Array

def split_array(arry):
  sum_l=0
  sum_r=0

  for x in range(0,len(arry)-1):
    sum_l+=arry[x]

    for x in range(0,x):
      left_sum+=arry[x]
      
    for idx in range(x-1,len(arry)):
       sum_r+=arry[idx]
       if (sum_l == sum_r):
        return True
  
    return False
        

split_array([10, 3, 1, 2, 10])

True

In [18]:
#8. Max Bunch Count

def max_bunch(arry):

  cntr= 1
  m_cntr= 1

  for x in range(len(arry)-1):

    if arry[x]==arry[x+1] :
      cntr+=1
      
      if m_cntr < cntr:
        m_cntr = cntr 

    else:
      cntr= 1  
      
  return m_cntr
  
print(max_bunch([1, 2, 2, 3, 4, 4, 4]) )

3

#PART-2
***bold text***

In [29]:
# LAB-1,  PART - 2



# 1st TASK:  (MEAN)

def mean(source):
  cnt=0
  ad=0
  for idx in range(0,len(source)):
    cnt+=1
    ad+=source[idx]

  mean_value=ad/cnt
  return mean_value

source=[10, 8, 13, 9, 14, 25, -5, 20, 7, 7, 4]
print("The mean of the numbers is:",mean(source))



# 2nd TASK: (STANDARD DEVIATION)


def sd(source,mean_value):
  cnt=0
  s1=0
  for idx in range (0,len(source)):
    cnt+=1
    s1+=(source[idx]-mean_value)**2

  final_val=(s1/(cnt-1))**(1/2)
  return final_val

source=[10, 8, 13, 9, 14, 25, -5, 20, 7, 7, 4]
mean_value= 10.181818181818182
print("The standard deviation is:",sd(source,mean(source)))


    
# 3rd TASK: (NEW ARRAY)

def n_array(source,mean_value,sd):
  cntr=0
  x=0
  up_val= mean_value+(1.5*sd)
  low_val= mean_value-(1.5*sd)

  for idx in range(0,len(source)):
    if low_val>source[idx] or up_val<source[idx]:
      cntr+=1
  nw_array=[0]*cntr

  for idx in range(0,len(source)):
    if low_val>source[idx] or up_val<source[idx]:
      nw_array[x]=source[idx]
      x+=1

  return nw_array


source=[10, 8, 13, 9, 14, 25, -5, 20, 7, 7, 4]
mean_value= 10.181818181818182
sd= 7.960127911260996
print("New array:",n_array(array,mean_value,sd))

The mean of the numbers is: 10.181818181818182
The standard deviation is: 7.960127911260996
New array: [25, -5]